@import 'mixins.sass'
@import 'variables.sass'

.booking
  padding-top: 20pt
  label
    color: $strongGray
    white-space: nowrap
  h4
    font-weight: bold
  p
    color: $lightGray

  &__room-info-container
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: $border-line-whisper
    padding: 0 25pt 25pt 25pt

  &__form-title-container
    display: flex
    justify-content: space-between
    padding: 15pt 25pt 0 25pt

  &__form-wrapper
    display: flex
    justify-content: center
    form
      width: 100%
      padding: 15pt 25pt
    label
      padding-bottom: 5pt
      display: block
    input
      width: 98%
      height: 30pt
      margin-bottom: 15pt
      padding-left: 5pt
      &:focus
        outline: none
    input[type='radio']
      height: 10pt

  &__time-wrapper
    display: flex
    justify-content: space-between
    input
      width: 100%

  &__buttton-wrapper
    display: flex
    justify-content: flex-end

    input[type='submit']
      color: $white
      border-radius: 4px
      font-size: 12pt
      padding: 0 20pt
      height: 45pt
      background-color: $blue

  &__cancel-btn
    color: $white
    border-radius: 4px
    font-size: 12pt
    height: 45pt
    background-color: $blue
    display: flex
    align-items: center
    padding: 0 20pt
    margin-right: 10pt

  &__main-content-wrapper
    padding-bottom: 20pt

  // &__customer-icons-wrapper
  //   display: none

  .show-room-members
    display: none

  &__icon
    width: 21pt
    padding-right: 5pt
    object-fit: cover

  &__add-customers
    display: flex
    border: 1px solid $slightGray
    width: 100%
    justify-content: center
    align-items: center
    height: 33pt
    margin: 10pt 0
    span
      color: $smokeGray
      font-size: 20pt

  &__customer_mates
    padding: 10pt 0

  &__flex-box
    display: flex
    justify-content: space-between
    align-items: center
    p
      white-space: nowrap

  &__room-status
    display: flex
    justify-content: center
    align-items: center
    background-color: $weakGray
    width: 90pt
    height: 26pt
    border-radius: 13pt

  &__icons-gender-wrapper
    display: flex
    justify-content: space-between
    input
      border: none
      width: 30pt
      margin-bottom: 0
      text-align: center

  &__half-flex-box
    flex: 1
    border: 1px solid $slightGray
    padding: 5pt

  &__camera-wrapper
    display: flex
    align-items: center

  &__message
    padding-top: 20pt


.room_bookings_rent_type
  display: flex
  align-items: center

.radio
  label
    padding-right: 50pt

.right-sidebar
  display: none
  height: 100vh
  position: fixed
  top: 0
  right: 0
  background: white
  z-index: 99999999
  overflow: scroll

@media screen and(max-width: 768px)
  #room_bookings_rent_type_hourly
    margin-left: -65pt

  #room_bookings_rent_type_overnight
    margin-left: -65pt
