@import 'mixins.sass'
@import 'variables.sass'

.booking
  padding-top: 20pt
  label
    color: $strongGray
    white-space: nowrap
  h4
    font-weight: bold

  hr
    border-width: 2px
  p
    color: $lightGray

  &__customer-in-room
    padding-bottom: 10pt

  &__room-info-container
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 25pt 15pt 25pt


  &__room-info-detail
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding: 0 25pt 15pt 25pt
    margin-top: 20px

    &__detail-item
      margin-bottom: 12px
      width: 33.33%
      &__detail-data
        color: #333333!important
        font-weight: bold

  &__form-title-container
    display: flex
    justify-content: space-between
    padding: 15pt 25pt 0 25pt

  &__form-wrapper
    display: flex
    justify-content: center
    form
      width: 100%
      padding: 15pt 25pt
    label
      padding-bottom: 5pt
      display: block
    input
      width: 100%
      height: 30pt
      margin-bottom: 15pt
      padding-left: 5pt
      &:focus
        outline: none
    input[type='radio']
      height: 20px
      width: 20px
      margin-left: 0px!important

      &:checked
        & ~ label
          &::before
            background: $blue
    .radio
      margin-right: 37.5pt

      input[type="radio"]

      label
        color: #333333
        padding-left: 30px
        position: relative

        &:before
          content: ''
          display: inline-block
          width: 15px
          height: 15px
          border-radius: 100%
          position: absolute
          left: 2px
          top: 6px

    .radio + .radio, .checkbox + .checkbox
      margin-top: unset

  &__buttton-wrapper
    display: flex
    justify-content: center

    input[type='submit']
      border-radius: 4px
      font-size: 12pt
      height: 45pt
      justify-content: center
      font-weight: bold
      text-transform: uppercase

      &.rent-btn
        background-color: $blue
        padding: 0 10pt
        color: $white
        width: 60%

        &:hover
          background-color: #3e61b9

      &.reserve-btn, &.cancel-btn
        background-color: $white
        border: 1px solid $blue
        color: $blue
        padding: 0 20pt
        margin-right: 10pt
        width: 40%

        &:hover
          background-color: #4a73d812

      &.cancel-btn
        color: red
        border-color: red

  &__main-content-wrapper
    padding-bottom: 20pt

  .show-room-members
    display: none

  .show-services
    display: none

  &__icon
    width: 21pt
    padding-right: 5pt
    object-fit: cover

  &__add-customers
    display: flex
    border: 1px solid $slightGray
    width: 100%
    justify-content: center
    align-items: center
    height: 33pt
    margin: 10pt 0
    cursor: pointer
    span
      color: $smokeGray
      font-size: 20pt

  &__customer_mates
    padding: 10pt 0

  &__add-services
    cursor: pointer

    .arrow-up
        content: ""
        width: 10px
        float: right
        height: 10px
        border: 2px solid black
        border-top: transparent
        border-left: transparent
        margin-top: -18px
        margin-right: 3px
        transform: rotate(-45deg)

    .rotate-45
      transform: rotate(45deg)

  &__flex-box
    display: flex
    align-items: center
    p
      white-space: nowrap
    > div
      width: 100%
    > div:first-child
      margin-right: 15pt

  &__room-status-available
    display: flex
    justify-content: center
    align-items: center
    background-color: $weakGray
    width: 90pt
    height: 26pt
    border-radius: 13pt
    h4
      font-weight: unset

  &__room-status-checked_in
    display: flex
    justify-content: center
    align-items: center
    background-color: #fff5dd
    width: 95pt
    height: 26pt
    border-radius: 13pt
    color: #f9be39
    font-weight: lighter
    h4
      font-weight: unset

  &__room-status-booked
    display: flex
    justify-content: center
    align-items: center
    background-color: #e9f0fd
    width: 90pt
    height: 26pt
    border-radius: 13pt
    color: #4a73d8
    h4
      font-weight: unset

  &__icons-gender-wrapper
    display: flex
    justify-content: space-between
    input
      border: none
      width: 30pt
      margin-bottom: 0
      padding-left: 0

  .booking__men.minus-btn,
  .booking__men.plus-btn,
  .booking__women.minus-btn,
  .booking__women.plus-btn,
  .booking__boy.plus-btn,
  .booking__boy.minus-btn,
  .booking__girl.plus-btn,
  .booking__girl.minus-btn
    cursor: pointer

  &__half-flex-box
    flex: 1
    border: 1px solid $slightGray
    padding: 5pt

  &__camera-wrapper
    display: flex
    align-items: center

  &__message
    padding-top: 20pt

.room_bookings_rent_type
  display: flex
  align-items: center

.radio_buttons
  display: flex
  align-items: center
  justify-content: flex-start
  width: 100%

.right-sidebar
  display: none
  height: 100vh
  position: fixed
  top: 0
  right: 0
  background: white
  z-index: 99999999
  overflow: scroll
  width: 370pt

  input[type=time]::-webkit-inner-spin-button
    margin: 4px
    cursor: pointer

  // Disable spinbox
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button,
  input[type=date]::-webkit-outer-spin-button,
  input[type=date]::-webkit-inner-spin-button,
      -webkit-appearance: none
      margin: 0
  input[type=number],input[type=date]
    -moz-appearance: textfield

#room-members
  display: block

@media screen and(max-width: 768px)
  .right-sidebar
    width: 100vw

  .booking
    &__buttton-wrapper
      display: flex
      justify-content: center

    input[type='submit']
        width: initial

@media screen and(min-width: 1023px)
  .right-sidebar
    width: 370pt

@media screen and(min-width: 1439px)
