@import 'main.sass'
@import 'variables.sass'
@import 'mixins.sass'

.rooms-index
  padding-bottom: 30pt

.rooms
  font-size: 10.5pt
  padding-top: 100pt
  padding-bottom: 50pt

  &__room-title
    font-weight: bold

  &__room-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &__navigations
    display: flex
    justify-content: center
    ul
      padding: 20pt 0

  &__navigations-list
    list-style: none
    display: flex
    justify-content: space-between
    padding: 0

  h5
    padding: 0 5pt 0 0
    margin: 0
    font-size: 10.5pt

  p
    padding: 0
    margin: 0
    color: $white

  &__room
    width: 190pt
    height: 150pt
    margin: 10pt
    padding: 15pt
    border-radius: 4px
    border: $border-line-whisper
    display: flex
    flex-direction: column
    justify-content: space-between

  &__number-wrapper
    display: flex
    align-items: center
    line-height: 20pt

  &__rent-type-wrapper
    line-height: 20pt

  &__choose-btn-wrapper
    display: flex
    justify-content: center
    padding-bottom: 20pt

  &__choose-btn
    color: $black
    background-color: $whisper
    border-radius: 4px
    padding: 5pt 20pt
    border: $border-line-whisper

  &__nav-link
    a, span
      color: $lightGray

  &__link-active
    display: flex
    justify-content: center
    border-radius: 4px
    font-weight: bold
    a, span
      color: $black
      font-weight: bold

  &__navigations-list
    white-space: nowrap
    li:not(:last-child)
      margin-right: 10pt

  &__room-container
    h1
      padding: 20pt 0 0 0
      text-transform: uppercase
      text-align: center
      color: $lightGray

  &__choose-room-btn-wrapper
    a
      display: none

  &__room
    &:hover
      .rooms__choose-room-btn-wrapper
        a
          display: block
          color: $black
          border: $border-line-whisper
          border-radius: 4px
          text-align: center
          padding: 2pt 0

.room-status-booked
  background-color: $blue
  color: #ffffff
  border: none
  .rooms__checkin-time-wrapper, .rooms__choose-room-btn-wrapper
    display: none

  h5, p
    color: $white

.room-status-rent
  background-color: $yellow
  color: $black
  border: none
  .rooms__choose-room-btn-wrapper
    display: none
  h5, p
    color: black

.room-status-available
  .rooms__checkin-time-wrapper
    display: none

.menu
  display: block

@media screen and (min-width: 420px)
  .rooms
    margin: 0 auto

    &__room-wrapper
      display: grid
      grid-template-columns: repeat(2, auto)
      grid-gap: 10pt
      padding-top: 10pt
      margin: 0 10pt

    &__room
      width: 142.5pt
      height: 120pt
      margin: 0
      display: flex
      flex-direction: column
      justify-content: space-between

    &__navigations
      font-size: 10.5pt

  .room-status-available
    &:hover
      &:after
        margin: 10pt 10pt

@media screen and (min-width: 500px)
  .rooms
    &__room-wrapper
      grid-gap: 20pt

    &__room-container
      padding-left: 2pt

@media screen and (min-width: 767px)
  .rooms-index
    padding: 0 54pt

  .rooms
    padding-top: 130pt

    &__room-wrapper
      grid-template-columns: repeat(3, auto)
      justify-content: flex-start
      margin: 0

    &__number-wrapper
      line-height: 15pt

    &__rent-type-wrapper
      line-height: 15pt

    &__navigations
      justify-content: initial
      &__list
      li:not(:last-child)
        margin-right: 20pt

    &__room-container
      h1
        text-align: left

@media screen and (min-width: 940px)
  .rooms-index
    padding: 0 69pt

  .rooms
    &__room-wrapper
      grid-template-columns: repeat(4, auto)

@media screen and (min-width: 1160px)
  .rooms
    &__room-wrapper
      grid-template-columns: repeat(5, auto)

@media screen and (min-width: 1370px)
  .rooms-index
    padding: 0 62pt

  .rooms
    &__room-wrapper
      grid-template-columns: repeat(6, auto)

    &__navigations
      padding-left: 0

    &__room-container
      h1
        padding-left: 0

@media screen and (min-width: 1601px)
  .rooms-index
    max-width: 1440px

  .rooms
    &__room-wrapper
      grid-template-columns: repeat(7, auto)
